eln-cache/
elpa/
etc/
.local/
straight/
var/
auto-save-list/
transient/
recentf
sessions
tramp
projectile-bookmarks.eld
Emacs.org~
.last-package-update-day
init.el
early-init.el
.Emacs.org.~undo-tree~
